@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* 各种系统的宋体 */
  font-family: SimSun, STSongti, sans-serif;
  /* 文字样式 */
  text-wrap: balance;
  text-align: center;
  color: #200000;
}